body{
  color: black;
}
.time {
    text-align:center;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 10px;
}
#time{
    font-family: sans-serif;
    font-size:55px;
}

#date {
    letter-spacing:10px;
    font-size:18px;
    font-family:arial,sans-serif;
}

body{
  font-family: sans-serif;
}

.quoteArea{
  font-size: 45px;
  color: black;
}
.card{
  margin-left: auto;
  margin-right: auto;
}
.container{
  z-index: 1000;

}
#thesaurusPrint{
  z-index: 1000;

}
li{
  list-style: none;
}
.thes{
  font-size: 18px;
  font-weight: bold;
}
.well {
   background-color: rgba(245, 245, 245, 0.4);
}
